@model DACS_ThueTro.Models.PhongTro


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Property</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <!-- header section ends -->
    <!-- view property section starts  -->
    <section class="view-property">

        <div class="details">
            <div class="thumb">
                <div class="big-image">
                    <img src="/Content/AnhTro/@Model.Image" alt="AnhPhongTro">
                </div>
                @*<div class="small-images">
                    
                </div>*@
            </div>
            <h3 class="name">@Model.Title</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>@Model.DiaChi</span></p>
            <div class="info">
                <p><i class="fas fa-user"></i>@Model.Id_ChuTro<span></span></p>
                <p><i class="fas fa-phone"></i>@Model.SDT</p>
                <p><i class="fas fa-building"></i>@Model.LoaiPhong.TenLoaiPhong<span></span></p>
                <p><i class="fas fa-house"></i>@Model.TrangThai<span></span></p>
                <p><i class="fas fa-calendar"></i>@Model.NgayDang -@Model.NgayHetHan<span></span></p>
            </div>
            <h3 class="title">Thông Tin Chi Tiết Của Phòng Trọ</h3>
            <div class="flex">
                <div class="box">
                    <p><i>Chủ Sở Hữu Trọ:</i><span> @Model.ChuTro.TenChuTro </span></p>
                    <p><i>Ảnh Chủ Trọ:</i> </p>
                    <img style="width:250px; height:250px" src="/Content/AnhTro/@Model.ChuTro.UrlHinhAnh" alt="AnhChuTro" />
                    <p><i>Emai:</i><span> @Model.ChuTro.Email </span></p>
                    <p><i>Giá Thuê :</i><span>@String.Format("{0:0,0}", Model.GiaThue) VNĐ</span></p>
                    <p><i>Giá Cọc :</i><span>@String.Format("{0:0,0}", Model.GiaCoc) VNĐ </span></p>
                    <p><i> Mô tả:</i><span> @Model.Mota </span></p>
                    <p><i> Liên hệ:</i><span> @Model.SDT - @Model.LienHe </span></p>

                    <p><i> Diện tích Căn Phòng:</i><span> @Model.DienTich m</span>&sup2;</p>
                    @*<p><i>bedroom :</i><span>3</span></p>
        <p><i>bathroom :</i><span>2</span></p>
            <p><i>balcony :</i><span>1</span></p>*@
                </div>
                @* <div class="box">
                    <p><i>carpet area :</i><span>750sqft</span></p>
                    <p><i>age :</i><span>3 years</span></p>
                    <p><i>room floor :</i><span>3</span></p>
                    <p><i>total floors :</i><span>22</span></p>
                    <p><i>furnished :</i><span>semi-furnished</span></p>
                    <p><i>loan :</i><span>available</span></p>
                     </div>*@
            </div>
            @*<h3 class="title">amenities</h3>
                <div class="flex">
                    <div class="box">
                        <p><i class="fas fa-check"></i><span>lifts</span></p>
                        <p><i class="fas fa-check"></i><span>security guards</span></p>
                        <p><i class="fas fa-times"></i><span>play ground</span></p>
                        <p><i class="fas fa-check"></i><span>gardens</span></p>
                        <p><i class="fas fa-check"></i><span>water supply</span></p>
                        <p><i class="fas fa-check"></i><span>power backup</span></p>
                    </div>
                    <div class="box">
                        <p><i class="fas fa-check"></i><span>parking area</span></p>
                        <p><i class="fas fa-times"></i><span>gym</span></p>
                        <p><i class="fas fa-check"></i><span>shopping mall</span></p>
                        <p><i class="fas fa-check"></i><span>hospital</span></p>
                        <p><i class="fas fa-check"></i><span>schools</span></p>
                        <p><i class="fas fa-check"></i><span>market area</span></p>
                    </div>

                </div>*@
            <form action="" method="post">
                <input type="submit" value="Thuê Phòng Trọ" name="save" class="inline-btn">
            </form>          
        </div>

    </section>
    <!-- view property section ends -->
    <!-- custom js file link  -->
    <script src="~/Content/js/script.js"></script>

</body>
</html>
